@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

body{
	min-height: 100vh;
	width: 100%;


}

.sidebar{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 60px;
	background: #00243E;
	transition: all 0.5s ease;
	z-index: 1;
}

.sidebar.active{
	width: 180px;
}

.sidebar .menu-details{
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
}

.sidebar .menu-details i{
	font-size: 28px;
	font-weight: 500;
	color: #ED682A;
	min-width: 60px;
	text-align: center;
	cursor: pointer;

}

.sidebar .menu-details .menu-name{
	font-size: 24px;
	font-weight: 500;
	color: #ED682A;
	margin-left: 8px;
	margin-top: -5px;
}

.sidebar .nav-links{
	margin-top: 16px;
	overflow: hidden;
}

.sidebar .nav-links li{
	height: 50px;
	width: 100%;
	list-style: none;
	border-bottom: 1px solid #003860;
}

.sidebar .nav-links li a{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover{
	background: #003860;
}

.sidebar .nav-links li a i{
	min-width: 60px;
	text-align: center;
	color: #ED682A;
	font-size: 18px;
}

.sidebar .nav-links li a .link-name{
	color: #ED682A;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
}

.sidebar .nav-links .dropdown-menu .dropdown-item:hover{
	background: #7f7f7f;
	color: #fff;

}

/*HOME SECTION*/

.home-section{
	background: #fff;
	position: relative;
	min-height: 100vh;
	width: calc(100% - 60px);
	left: 60px;
	transition: all 0.5s ease;
	top: 80px;
}

.sidebar.active ~ .home-section,
.sidebar.active ~ .home-section nav{
	width: calc(100% - 180px);
	left: 180px;
}

.home-section nav{
	position: fixed;
	width: calc(100% - 60px);
	left: 60px;
	height: 80px;
	top: 0;
	background: #00243E;
	color: #ED682A;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.5s ease;
	z-index: 1;
}

.home-section nav .sidebar-button{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

.home-section nav .sidebar-button i{
	font-size: 35px;
	margin-right: 10px;
}

.home-section nav .sidebar-button .dashboard{
	margin-top: -4px;
}

.btn-group .dropdown-menu .dropdown-item:hover{
	background: #7f7f7f;
	color: #fff;
}

.home-section nav .name{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

.home-section nav button,
.home-section nav button:hover,
.home-section nav button:focus,
.home-section nav button:active{
	background: transparent;
	color: #ED682A;
	overflow: hidden;
	border: none;
	box-shadow: none;
}

/*.home-content .overview-boxes .box-topic{
	font-size: 20px;
	font-weight: 500;
}*/

.overview{
	padding-bottom: 10px;
	margin-top: 30px;
}

.overview a{
    color: inherit;
}

.overview a:hover,
.overview a:link,
.overview a:focus,
.overview a:active{
    text-decoration: none;
    color: inherit;
}

.overview .shadow-sm{
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/*PIE CHART*/
.wrapper{
	margin: 3px 20px;
	border: 2px solid #7f7f7f;
}

.wrapper .title{
	border-bottom: 2px solid #7f7f7f;
}



/*ANNOUNCEMENT TABS*/

.container{
	width: 100%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;

}
.container ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.container ul li label{
	padding: 15px 25px;
	border: 1px solid #ddd;
	border-bottom: 0;
	background: #eeeeee;
	color: #444;
	float: left;
}
.container ul li label:hover{
	background: #dddddd;

}
.container ul li label:active{
	background: #ffffff;
}
.container ul li:not(:last-child) label{
	border-right-width: 0;

}



/*ANNOUNCEMENT TABLE*/

#announcement {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#announcement td, #announcement th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%;
}

#announcement tr:nth-child(even){background-color: #f2f2f2;}

#announcement tr:hover {background-color: #ddd;}

#announcement th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00243e;
  color: white;
}

table .table{
	width: 100%;
	table-layout: center;
}

/*FOOTER*/
footer{
	position: relative;
	display: flex;
	justify-content: center;
	font-size: 12px;
	top: 80px;
	background: #00243E;
	color: #ea8252;
	z-index: 1;
}