@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

html{
	height: 100%;
}

body{
	background: #00243e;
	height: 100%;
	animation: fadeIn 1s;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}


.login-form{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 550px;
}

.login-form form{
	width: 400px;
}

.login-form header{
	text-align: center;
	font-size: 28px;
	line-height: 75px;
}

.login-form input,
.login-form input:hover,
.login-form input:focus,
.login-form input:active{
	color: #fff;
	background: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #ed682a;
	box-shadow: none;
}

.login-form input::placeholder{
	color: #bfbfbf;
}

.login-form .fa-regular{
	padding-bottom: 16px;
	border-bottom: 2px solid #ed682a;
}

.login-form button{
	background: #ed682a;
	border-radius: 5px;
	font-weight: 600;
	letter-spacing: 2px;
	border: 2px solid transparent;
}

.login-form button:hover{
	background: none;
	border: 2px solid #ed682a;
}

.error{
	color:red;
}

footer{
	margin: auto;
	font-size: 12px;
	padding-left: 3px;
	color: #ea8252;
}

footer .flinks{
	font-size: 16px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

footer .flinks a{
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0 20px;
	color: inherit;
	text-decoration: inherit;
	padding: 4px;
}

footer .flinks a:before {
	position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

footer .flinks a:after {
	position: absolute;
    content: '';
    top: 0;
    left: 0;
     width: 100%;
     height: 4px;
     border-top: 2px solid transparent;
     border-right: 2px solid transparent;
     box-sizing: border-box;
     transform: translateX(-100%);
}

footer .flinks a:hover:before {
	border-color: tomato;
	height: 100%;
	transform: translateX(0);
	transition: .15s transform linear, .15s height linear .15s;
}

footer .flinks a:hover:after {
	border-color: tomato;
	height: 100%;
	transform: translateX(0);
	transition: .15s transform linear .15s, .15s height linear .3s;
}



/*MEDIA QUERIES*/
@media all and (max-width: 600px){

}
