@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

body{
	min-height: 100vh;
	width: 100%;
	overflow-y: hidden;
}

.sidebar{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 60px;
	background: #00243E;
	transition: all 0.5s ease;
	z-index: 1;
}

.sidebar.active{
	width: 180px;
}

.sidebar .menu-details{
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
}

.sidebar .menu-details i{
	font-size: 28px;
	font-weight: 500;
	color: #ED682A;
	min-width: 60px;
	text-align: center;
	cursor: pointer;

}

.sidebar .menu-details .menu-name{
	font-size: 24px;
	font-weight: 500;
	color: #ED682A;
	margin-left: 8px;
	margin-top: -5px;
}

.sidebar .nav-links{
	margin-top: 16px;
	overflow: hidden;
}

.sidebar .nav-links li{
	height: 50px;
	width: 100%;
	list-style: none;
	border-bottom: 1px solid #003860;
}

.sidebar .nav-links li a{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover{
	background: #003860;
}

.sidebar .nav-links li a i{
	min-width: 60px;
	text-align: center;
	color: #ED682A;
	font-size: 18px;
}

.sidebar .nav-links li a .link-name{
	color: #ED682A;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
}

.sidebar .nav-links .dropdown-menu .dropdown-item:hover{
	background: #7f7f7f;
	color: #fff;

}

/*HOME SECTION*/

.home-section{
	background: #fff;
	position: relative;
	min-height: 100vh;
	width: calc(100% - 60px);
	left: 60px;
	transition: all 0.5s ease;
	top: 80px;
}

.sidebar.active ~ .home-section,
.sidebar.active ~ .home-section nav{
	width: calc(100% - 180px);
	left: 180px;
}

.home-section nav{
	position: fixed;
	width: calc(100% - 60px);
	left: 60px;
	height: 80px;
	top: 0;
	background: #00243E;
	color: #ED682A;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.5s ease;
	z-index: 1;
}

.home-section nav .sidebar-button{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

.home-section nav .sidebar-button i{
	font-size: 35px;
	margin-right: 10px;
}

.home-section nav .sidebar-button .dashboard{
	margin-top: -4px;
}

.btn-group .dropdown-menu .dropdown-item:hover{
	background: #7f7f7f;
	color: #fff;
}

.home-section nav .name{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

.home-section nav button,
.home-section nav button:hover,
.home-section nav button:focus,
.home-section nav button:active{
	background: transparent;
	color: #ED682A;
	overflow: hidden;
	border: none;
	box-shadow: none;
}

/*.home-content .overview-boxes .box-topic{
	font-size: 20px;
	font-weight: 500;
}*/

.overview{
	padding-bottom: 10px;
}

.overview a{
    color: inherit;
}

.overview a:hover,
.overview a:link,
.overview a:focus,
.overview a:active{
    text-decoration: none;
    color: inherit;
}

.overview .shadow-sm{
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

::selection{
    color: #fff;
    background: #6A757A;
}
.wrapper{
    width: 800px;
    background: #6A757A;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper form{
    height: 85px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #fff;
}
form :where(i, p){
    color: #fff;
}
form i{
    margin-top: 10px;
    font-size: 20px;
}
form p{
    font-size: 16px;
}



/*DOCUMENTS TABLE*/
.thead-color{
    background: #00243E;
    color: #fff;
}
.attendance-tab-header{
	padding-bottom: 10px;
}

.attendance-tab-header input,
.attendance-tab-header button{
	border: 1px solid #7f7f7f;
	border-radius: 5px;
	color: #000;
}

.attendance-tab-header button{
	background: #00243E;
	color: #fff;
	padding: 2px;
	cursor: pointer;
}

.documents-table{
	width: 100%;
    height: 350px;
    padding-right: 0;
	overflow-y: scroll;
	
}
.documents-table td button{
	background: #7f7f7f;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #494949;
	cursor: pointer;
}

th {
	cursor: pointer;
}

.documents-table td:nth-child(7){
    display: flex;
    justify-content: space-around;
}

.documents-table thead{
    position: sticky;
    top: 0;
    bottom: 2px;
}

/*MODAL*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #00243e;
  color: white;
}

.modal-body {padding: 2px 16px;}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ED682A;
  border: none;
  border-radius: 15px;
}

.button:hover {background-color: #6495ED}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.modal-footer {
  padding: 2px 16px;	
  color: white;
}

table {
  border: 2px dashed #cccccc;
  border-collapse: collapse;
  width: 80%;
}

/*FOOTER*/
footer{
	position: relative;
	display: flex;
	justify-content: center;
	font-size: 12px;
	top: 80px;
	background: #00243E;
	color: #ea8252;
	z-index: 1;
}




@media (min-width: 481px) and (max-width: 767px) {

	body{
        overflow: scroll;
    }

    .sidebar.active{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background: #00243e;
        z-index: 2;
    }

    .sidebar.active ~ .home-section .name {
        display: none;
    }

    .sidebar .menu-details .menu-name,
    .home-section .dashboard,
    .home-section div .name{
        font-size: 18px;
    }

    .sidebar.active ~ .home-section{
        width: calc(100% - 60px);
        left: 60px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

	body{
        overflow: scroll;
    }

    .sidebar.active{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background: #00243e;
        z-index: 2;
    }

    .sidebar.active ~ .home-section .name {
        display: none;
    }

    .sidebar .menu-details .menu-name,
    .home-section .dashboard,
    .home-section div .name{
        font-size: 18px;
    }

    .sidebar.active ~ .home-section{
        width: calc(100% - 60px);
        left: 60px;
    }

}